.App {
  min-height: 30rem;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  letter-spacing: 1px;
}

.button {
  height: 2.5rem;
  width: 2rem;
  font-weight: bolder;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  background-color: aquamarine;
  border-radius: 9px;
  border-style: inset;
}

.date {
  margin-top: 3rem;
}