@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 12px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 6px;
}

.card {
  height: 460px;
  width: 360px;
  margin: 40px;
  border: 2px solid #222;
}

.card::after {
  content: "";
  display: block;
}

.avatar {
  width: 356px;
  height: 230px;
  display: block;
}

.data {
  padding: 15px;
  padding-top:4px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 8px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
